//$color: #2bc;
$color: #3367d6;
$bg-color: #1a73e8;
$visited-color: #7b1fa2;
$hover-color: darken($color, 15%);
body,html {
  height: 100%;
  min-width: 360px;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body, input, textarea, button, em, pre, pre:before, code:before {
  font-family: arial, sans-serif;
  text-size-adjust: 100%;
  font-weight: normal;
  font-style: normal;
  -webkit-text-size-adjust: none
}

input[type=button]{
  cursor: pointer;
}

body, input, textarea, button {
  color: #212121;
  line-height: 1.85;
  font-size: 1em;
  -webkit-appearance: none;
  border-radius: 0
}
a {
  color: $color;
}
a:hover {
  color: $hover-color;
}
a:visited {
  color: $visited-color;
}
.logo-svg{
  height: 22px !important;
  width:auto;
  margin-right: 1px;
}
.logo-svg path{
  fill: $color;
  stroke: $color;
  stroke-width: 7px;
}
#logo-1 path{
  fill: $color;
  stroke: $color;
}
#logo-2 path{
  fill: $color;
  stroke: $color;
}
#logo-3 path{
  fill: $color;
  stroke: $color;
}
#logo-4 path{
  fill: $color;
  stroke: $color;
}


.has-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
.is-inline > * {
  display: inline;
}
.is-inline-block {
  display: inline-block;
}
.is-background-color {
  background: $bg-color;
}
.is-color {
  color: $color !important;
}
.is-white {
  color: #fff;
}
.is-white-button {
  color: #fff;
  padding: 1px;
  background-color: $color;
  display: inline-block;
  line-height: 1;
}
.is-gray {
  color: #666;
}
.is-gray-white {
  color: #999;
}
.is-justify{
  text-align: justify;
}
.font-75 {
  font-size: 0.75em;
}
.font-8125 {
  font-size: 0.8125em;
}
.font-875 {
  font-size: 0.875em;
}
.font-1125 {
  font-size: 1.125em;
}
.is-narrow-row{
  line-height: 1.375em;
}
.is-round {
  border-radius: 50%;
}
.is-radius-5 {
  border-radius: 5px;
}
.no-top-padding {
  padding-top: 0 !important;
}
.no-bottom-padding {
  padding-bottom: 0 !important;
}
.padding-15 {
  padding: 1.5em;
}
.padding-125 {
  padding: 1em 1.25em;
}
.padding-1{
  padding: 0.7em 1em;
}
.em-color-title {
  border-top:1px solid;
  font-size: 0.9375em;
  font-weight: 800;
  color: $color;
}
.light-color-title {
  border-bottom: 1px solid;
  font-size: 0.9375em;
  color: $color;
}
.text-right {
  text-align: right;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
h1 {
  margin: 0;
}
div.clearfix {
  clear: both;
}
em {
  color: red;
}

#wrap {
  height: 100%;
}

#content {
  background: #fff;
  min-height: calc(100% - 220px);
  position: relative;
  max-width: 1104px;
  margin: 0 16px;
}

#header {
  background: #eee;
  height: 100px;
  margin-bottom: 24px;
}
#header-title {
  width: 150px;
  position: absolute;
  line-height: 1;
  padding-top: 38px;
  top: 0;
  left: 0;
  padding-left: 1.25em;
}
#header-title a {
  color: $color;
}
#header-search{
  margin-left: 150px;
  margin-right: 300px;
  padding: 30px 0;
  max-width: 670px;
  position: relative;
}

#header-search input[name=keyword]{
  width: 100%;
  padding: 5px 60px 5px 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#header-search input[name=doSearch] {
  padding: 4px 14px;
  letter-spacing: 3px;
  background: transparent;
  position: absolute;
  top: 32px;
  right: 0;
  color: $color;
}

.content-left{
  position: absolute;
  width: 160px;
  height: 100%;
  top: 0;
  left: 0;
}

.content-middle{
  height: 100%;
  margin-left: 134px;
  margin-right: 300px;
  max-width: 670px;
}

.content-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 280px;
}

.page-nav .nav-item a{
  display: inline-block;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  min-width: 32px;
  line-height: 30px;
  padding: 0 8px;
  text-align: center;
  margin-right: 12px;
  color: $color;
}
.page-nav .nav-item a:hover {
  background: #f2f2f2;
}
.page-nav .nav-item a.nav-current{
  background: $bg-color;
  color: #fff;
}
.copy {
  color: $color;
}

#footer {
  background: #666;
  height: 80px;
  margin-top: 1em;
}
.footer-bottom {
  margin-left: 150px;
  color: #ddd;
  max-width: 670px;
  padding-top: 30px;
}
@media (max-width: 1200px) {
  .content-left {
    display: none;
  }
  .content-middle {
    margin-left: 0;
  }
  #content {
    max-width: 970px;
  }
  #header-search{
    max-width: 536px;
    margin-right: 316px;
  }
  .footer-bottom {
    margin:0 16px;
  }

}
@media (max-width: 690px) {
  .content-middle{
    margin-right: 0;
  }
  .content-right {
    position: relative;
    top: 0 !important;
    width: auto;
  }
  #header-title {
    padding-left: 0.75em;
  }
  #header-search{
    margin-right: 8px;
    margin-left: 145px;
  }

  #content {
    margin: 0 8px;
  }

}


.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .2s;
}
.fade-enter-active {
  transition-delay: .2s;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
